$colors: (
    main-background: #E3E5E8,
    black: #0C0D0E,
    grey-background: #E5E5E5,
    grey: #73808C,
    grey-card: #F1F2F4,
    white: #FFFFFF,

    bg-window: rgba(0, 0, 0, 0.5),
    black-window: #212328,
    grey-window: #8285A5,
    dark-white-window: #E7E7E7,
    blue-window: #0064D8,
);